.proj_stat_div{
  margin:auto;
  text-align:center;
}
.proj_stat_div a, a:visited{
    text-decoration: none;
    -webkit-transition: all 0.1s linear ;
    transition: all 0.1s linear ;
}

.proj_stat_div .btn_st{
    padding: 3px 5px;
    color: #F5F5F5;
    display: inline-block;
    margin: 3px;-webkit-transition: box-shadow 0.2s ease;-moz-transition: box-shadow 0.05s ease;
    transition: all 0.2s ease;
    font-size: 14px;
}
.proj_stat_div .btn_st:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); opacity:0.9}
.proj_stat_div .btn_st:active {box-shadow: none; }

.proj_stat_div  .defult-btn{
    background-color: #2196F3;
}
.proj_stat_div .defult-green{
    background-color: #4CAF50;
}
.proj_stat_div  .defult-red {
    background-color: #f44336;
}
.proj_stat_div .defult-gray{
    background-color: #424242;
}
.proj_stat_div  .defult-Purple{
 background-color: #9C27B0;
}