
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
:root {
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --tag-color-three: #fde7ea;
  --tag-color-text-three: #e77f89;
  --tag-color-four: #f7f8fc;
  --tag-color-text-four: #a0a6b5;
  --tag-color-five: #ffe6a7;
  --tag-color-text-five: #ff9f1c;

}

.tag {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-width: 80px;
}
.tag.ongoing {
  background-color: var(--tag-color-one);
  color: var(--tag-color-text-one);
}
.tag.completed {
  background-color: var(--tag-color-two);
  color: var(--tag-color-text-two);
}
.tag.onreview {
  background-color: var(--tag-color-three);
  color: var(--tag-color-text-three);
}
.tag.pending {
  background-color: var(--tag-color-four);
  color: var(--tag-color-text-four);
}
.tag.onhold {
  background-color: var(--tag-color-five);
  color: var(--tag-color-text-five);
}

.color_ongoing {
  color: var(--tag-color-text-one);
}
.color_completed {
  color: var(--tag-color-text-two);
}
.color_onreview {
  color: var(--tag-color-text-three);
}
.color_pending {
  color: var(--tag-color-text-four);
}
.color_onhold {
  color: var(--tag-color-text-five);
}

.color_all {
  color: #7a7e9d;
}

.chatStatus{
  font-size: 12px;
}