<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
</head>
<body>
<div style="width: 100%; height: 100%; position: absolute; z-index: 999">
  <div style="padding: 60px;" class="col-md-6">
  <form>
    <!-- 2 column grid layout with text inputs for the first and last names -->

    <div class="form-outline mb-4">
      <label class="form-label" for="form6Example1">Project name</label>
      <input type="text" id="form6Example1" class="form-control"/>
    </div>

     <div class="form-outline mb-4">
       <label class="form-label" for="form6Example7">Project Description</label>
       <textarea class="form-control" id="form6Example7" rows="4"></textarea>
    </div>

    <div class="form-outline mb-4">
      <label for="members">Members</label>
      <select id="members" class="form-control member_selection" multiple="multiple"></select>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="form-outline mb-4">
          <label for="departments">Departments</label>
          <select id="departments" class="form-control department_selection" multiple="multiple"></select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline mb-4">
          <label for="teams">Teams</label>
          <select id="teams" class="form-control team_selection" multiple="multiple"></select>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="form-outline mb-4">
          <label for="vendors">Vendors</label>
          <select id="vendors" class="form-control vendor_selection" multiple="multiple"></select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline mb-4">
          <label for="vendor_supervisors">Vendor Supervisors</label>
          <select id="vendor_supervisors" class="form-control vendor_supervisor_selection" multiple="multiple"></select>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="form-outline mb-4">
          <label for="start_date">Start Date</label>
          <input id="start_date" class="form-control" type="date" />
        </div>
      </div>
      <div class="col">
        <div class="form-outline mb-4">
          <label for="end_date">Estimated End Date</label>
          <input id="end_date" class="form-control" type="date" />
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <label for="tags">Tags</label>
      <select id="tags" class="form-control tag_selection" multiple="multiple"></select>
    </div>


    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Place order</button>
  </form>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

    <script>
        $('.member_selection').select2({
            data: ["Piano", "Flute", "Guitar", "Drums", "Photography"],
            tags: true,
            maximumSelectionLength: 10,
            tokenSeparators: [',', ' '],
            placeholder: "Select or type keywords",
            //minimumInputLength: 1,
            //ajax: {
           //   url: "you url to data",
           //   dataType: 'json',
            //  quietMillis: 250,
            //  data: function (term, page) {
            //     return {
            //         q: term, // search term
            //    };
           //  },
           //  results: function (data, page) {
           //  return { results: data.items };
          //   },
          //   cache: true
           // }
        });
    </script>
    <script>
        $('.vendor_selection').select2({
            data: ["GF", "TSMC", "Fort Media", "Ti", "X"],
            tags: true,
            maximumSelectionLength: 10,
            tokenSeparators: [',', ' '],
            placeholder: "Select or type keywords",
            //minimumInputLength: 1,
            //ajax: {
           //   url: "you url to data",
           //   dataType: 'json',
            //  quietMillis: 250,
            //  data: function (term, page) {
            //     return {
            //         q: term, // search term
            //    };
           //  },
           //  results: function (data, page) {
           //  return { results: data.items };
          //   },
          //   cache: true
           // }
        });
    </script>
    <script>
        $('.vendor_supervisor_selection').select2({
            data: ["GF", "TSMC", "Fort Media", "Ti", "X"],
            tags: true,
            maximumSelectionLength: 10,
            tokenSeparators: [',', ' '],
            placeholder: "Select or type keywords",
            //minimumInputLength: 1,
            //ajax: {
           //   url: "you url to data",
           //   dataType: 'json',
            //  quietMillis: 250,
            //  data: function (term, page) {
            //     return {
            //         q: term, // search term
            //    };
           //  },
           //  results: function (data, page) {
           //  return { results: data.items };
          //   },
          //   cache: true
           // }
        });
    </script>
    <script>
        $('.department_selection').select2({
            data: ["GF", "TSMC", "Fort Media", "Ti", "X"],
            tags: true,
            maximumSelectionLength: 10,
            tokenSeparators: [',', ' '],
            placeholder: "Select or type keywords",
            //minimumInputLength: 1,
            //ajax: {
           //   url: "you url to data",
           //   dataType: 'json',
            //  quietMillis: 250,
            //  data: function (term, page) {
            //     return {
            //         q: term, // search term
            //    };
           //  },
           //  results: function (data, page) {
           //  return { results: data.items };
          //   },
          //   cache: true
           // }
        });
    </script>
    <script>
        $('.team_selection').select2({
            data: ["GF", "TSMC", "Fort Media", "Ti", "X"],
            tags: true,
            maximumSelectionLength: 10,
            tokenSeparators: [',', ' '],
            placeholder: "Select or type keywords",
            //minimumInputLength: 1,
            //ajax: {
           //   url: "you url to data",
           //   dataType: 'json',
            //  quietMillis: 250,
            //  data: function (term, page) {
            //     return {
            //         q: term, // search term
            //    };
           //  },
           //  results: function (data, page) {
           //  return { results: data.items };
          //   },
          //   cache: true
           // }
        });
    </script>

    <script>
        $('.tag_selection').select2({
            data: ["GF", "TSMC", "Fort Media", "Ti", "X"],
            tags: true,
            maximumSelectionLength: 10,
            tokenSeparators: [',', ' '],
            placeholder: "Select or type keywords",
            //minimumInputLength: 1,
            //ajax: {
           //   url: "you url to data",
           //   dataType: 'json',
            //  quietMillis: 250,
            //  data: function (term, page) {
            //     return {
            //         q: term, // search term
            //    };
           //  },
           //  results: function (data, page) {
           //  return { results: data.items };
          //   },
          //   cache: true
           // }
        });
    </script>
</body>
</html>
